<div class="complete">
  <div class="ui-fluid">
    <div class="ui-g" [formGroup]="userform">
      <div class="ui-g-12">
        <h2 class="titulo-registro">Registro</h2>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Primer Nombre:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="primerNombre" pInputText required /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Segundo Nombre:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="segundoNombre" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Primer Apellido:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="primerApellido" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Segundo Apellido:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="segundoApellido" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Tipo Documento:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="tipoDocSelected" [options]="tiposDocumento" placeholder="Tipo Documento" optionLabel="valor" [showClear]="true" filter="true"></p-dropdown></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Número Documento:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="numeroDocumento" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Departamento Documento:</span>
        </div>
        <div class="ui-g-8">
          <p-dropdown formControlName="depDocSelected" [options]="departamentos" placeholder="Departamento Documento" optionLabel="nombre" [showClear]="true" filter="true" (click)="asignarDepartamento('doc')"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Ciudad Documento:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="ciuDocSelected" [options]="ciudadesDoc" placeholder="Ciudad Documento" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Departamento de Nacimiento:</span>
        </div>
        <div class="ui-g-8">
          <p-dropdown formControlName="depNacSelected" [options]="departamentos" placeholder="Departamento Nacimiento" optionLabel="nombre" [showClear]="true" filter="true" (click)="asignarDepartamento('nac')"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Ciudad de Nacimiento:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="ciuNacSelected" [options]="ciudadesNac" placeholder="Ciudad Nacimiento" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Fecha de Nacimiento:</span>
        </div>
        <div class="ui-g-8"><p-calendar formControlName="fechaNacimiento" [monthNavigator]="true" [yearNavigator]="true" yearRange="1919:2030"></p-calendar></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Estado Civil:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="tipoEstCivilSelected" [options]="tipoEstadoCivil" placeholder="Estado Civil" optionLabel="valor" [showClear]="true" filter="true"></p-dropdown></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Departamento de Residencia:</span>
        </div>
        <div class="ui-g-8">
          <p-dropdown formControlName="depResSelected" [options]="departamentos" placeholder="Departamento Residencia" optionLabel="nombre" [showClear]="true" filter="true" (click)="asignarDepartamento('res')"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Ciudad de Residencia:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="ciuResSelected" [options]="ciudadesRes" placeholder="Ciudad Residencia" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Dirección de Residencia:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="direccion" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Barrio de Residencia:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="barrio" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Teléfono de Residencia:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="telCasa" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Teléfono Celular:</span>
        </div>
        <div class="ui-g-8"><input type="text" formControlName="telCelular" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Email:</span>
        </div>
        <div class="ui-g-8"><input type="email" formControlName="email" pInputText /></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Estrato:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="estratoSelected" [options]="estrato" placeholder="Estrato" optionLabel="valor" [showClear]="true" filter="true"></p-dropdown></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>Género:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="sexoSelected" [options]="sexo" placeholder="Género" optionLabel="valor" [showClear]="true" filter="true"></p-dropdown></div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-4">
          <span>EPS:</span>
        </div>
        <div class="ui-g-8"><p-dropdown formControlName="epsSelected" [options]="eps" placeholder="EPS" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown></div>
      </div>
      <div class="ui-g-12 ui-md-4 ui-md-offset-4" id="div-btn-registro">
        <p-button [disabled]="!userform.valid" label="Registrarse" type="button" (click)="registrarse()" id="btn-registro"></p-button>
      </div>
    </div>
  </div>
</div>
