.complete {
  width: 98%;
  margin: auto;
  font-family: arial;
}
.titulo-registro {
  text-align: center;
}

#div-btn-registro {
  margin-top: 2%;
}

#btn-registro {
  width: 100%;
}

#progress {
  background-color: rgba(150, 150, 150, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
#spinner {
  float: left;
  position: fixed;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: #ffba39;
  }
  40% {
    stroke: #ffa600;
  }
  66% {
    stroke: #a16900;
  }
  80%,
  90% {
    stroke: #ffd17a;
  }
}
